.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  /* grid-auto-rows: 100px; */
  grid-auto-flow: column;
  grid-auto-columns: 100px;
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}

.item:nth-child(even) {
  background-color: #3498db;
}

/*
많은 데이터를 가져올 경우 얼마나 많은 column과 row가 필요한 지 모를 수 있다.
-> 자동으로 지정해 주는 property 사용

grid-auto-rows
- 지정한 row보다 많은 content가 있더라도 자동으로 기본값을 부여

grid-auto-flow
- 많은 양의 content가 존재할때 자동으로 생성되는 것이 column인지 row인지 지정
- 기본값: row

grid-auto-columns
- 지정한 column보다 많은 content가 있더라도 자동으로 기본값을 부여
- grid-auto-flow와 함께 써야함
*/
