.father {
  display: flex;
  /* for Main Axis */
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.box {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(2) {
  background: #000;
  flex-grow: 1;
}

/* 
flex-basis
- children에 작용하는 property
- width와 같다고도 할 수 있음 그러나 flex-basis는 모든게 찌그러지거나 늘어나기 전에 element에게 처음 크기를 주는 것
- 처음 크기이지만 실제 크기는 아님
- 크기는 flex-grow와 flex-shrink에 의해 바뀔 수 있음
- flex-basis는 width와 같지만 width만 있는 것은 아님
- main axis에서 작용됨!!!(중요)
- application에서 element의 크기를 정할 때 유용 / 좀 더 유동적이기 때문에
- width가 대체할 수 있기 때문에 많이 사용되진 않음 
*/
