@import "_variables.scss";
@import "_mixins.scss";
@import "_button.scss";

h1 {
  color: red;
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphon-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
}
